.menyBilde, .menyTelle, .menyHobby, .menyFarge, .menyFargeFont, .menyFargeReset{
    text-align: center;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 10px;
    justify-content: center;
}
.card {
    width: 250px;
    border: 2px solid darkgray;
    margin: 10px;
    border-radius: 12px;
    align-content: center;
}
.menyHeight, .menyWidth {
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    justify-content: center;
}
 #output {
    text-align: center;
    padding: 10px;
    font-size:x-large;
    flex-wrap: wrap;

 }
 #header {

    margin: 0;
 }
 .counter {
    display: flex;
    justify-content: center;
 }
#skaler, #skaler2 {
    width: 80px;
}
#cards {
    float:left;
    display: grid;
    
}
.telleBtn{
    display: flex;
    justify-content: center;
}
#telleLabel {
    text-align: center;
    font-size: 40px;
}
#minusBtn{
    height: 30px;
    width: 60px;
    border: 2px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: large;
}
#resetBtn{
    height: 30px;
    width: 60px;
    border: 2px solid gray;
    font-size: large;
}
#plussBtn{
    height: 30px;
    width: 60px;
    border: 2px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: large;
}
#bilde {
    background: url(IMG/chris.jpg);
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
}
.textbox {
    text-align: center;
}